.need-help{
    text-align: right;
    margin-bottom: 0px !important;
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: .5rem;
}

.bg-dark{
    background-color: #0b66c1 !important;
}

.mob-icon{
    display: none;
}
 




@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 .need-help{
    display: none;
 }
 .mob-icon{
    display: block;
    color: #ffffff;
    position: absolute;
    top: 17px;
 }
 .navbar-toggler{
     padding: 0px !important;
 }
 .logo{
    position: absolute;
    top: 3px;
    left: 150px;
}
 .navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255, 255, 255, 0) !important;
}
}

 @media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .need-help{
        display: none;
        
     }
     .mob-icon{
         display: block;
        color: #ffffff;
        position: absolute;
        top: 17px;
    }
    .navbar-toggler{
        padding: 0px !important;
    }
    .logo{
        position: absolute;
        top: 3px;
        left: 200px;
    }
    .navbar-dark .navbar-toggler {
        color: rgba(255,255,255,.5);
        border-color: rgba(255, 255, 255, 0) !important;
    }
   
}
