/*!
 * Start Bootstrap 
 * Copyright 2013-2019 Start Bootstrap
 */
 @font-face {
  font-family: Mosk;
  src: url('../font/Mosk-Semi-Bold-600.ttf');
}
@font-face {
  font-family: "Mosk Bold";
  src: url('../font/Mosk-Bold-700.ttf');
}
body {
  font-size: 20px;
  color: #212529;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  line-height: 1.5;
  margin: 10px 0;
}

p a {
  text-decoration: underline;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #212529;
  transition: all 0.2s;
  font-family: 'Source Sans Pro', sans-serif;
}

a:focus, a:hover {
  color: #0085A1;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

/* Navigation starts from here */
#mainNav {
  position: relative;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
  background-color: #fff;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}
#mainNav .navbar-nav {
  margin: auto;
  margin-left: 91px;
}
#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
.navbar-dropdown {
  float: left;
  overflow: unset;
  margin: 7px;
}
.navbar-dropdown .dropbtn {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  border: none;
  outline: none;
  color: #210D4A;
  padding: 0px 20px ;
  background-color: inherit;
  margin: 0;
}


.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:16px;
  text-align: left;
}

.navbar-dropdown-content a:hover {
  background-color: #ddd;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}
.clearfix{clear: both;}
h1 {
  font-family: "Mosk Bold";
  font-size: 50px;
  line-height: 55px;
  color: #210D4A;
}
.blue-color{color: #3E82FF;}
.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #00657b !important;
  border-color: #00657b !important;
}
.btn-lg {
  font-size: 16px;
 
}
.nav-right ul.account-menu {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.nav-right ul.account-menu li { 
  float: left;
  padding: 0 20px;
}
.log-in, .cart{
  margin-top: 6px;
  display: block;
}
.nav-right ul.account-menu li a { 
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #210D4A;
}
.nav-right ul.account-menu li a.join {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #0D0E13;
  border-radius: 5px;
  min-width: 140px;
  padding: 7px 0;
}
.nav-right ul.account-menu li a.cart {
  position: relative;
}
.nav-right ul.account-menu li a.cart::after { 
  content:'';
  background-color:#28DC8E;
  height: 6px;
  width: 6px;
  display: inline;
  position: absolute;
  top: 0;
  border-radius: 50%;
}

/* Homepage starts */
.margin_top-150{
  margin-top: 150px;
}
.home-heading{
  font-family:  "Mosk Bold";
  font-size: 38px;
  line-height: 49px;
  color: #210D4A;
}


/* firts section */
.home-heading-width{
  width: 72%;
}

.home-content{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  color: #210D4A;
  margin-bottom: 30px;
}
.home-left-search{
  margin-top: 80px;
}
.home-top-conatiner{
  margin-top: 39px;
}
.dropdown-bg{
  background-color: #28DC8E !important;
  color: #FFFFFF;
  height: 50px !important;
  font-family: Mosk;
  font-size: 17px;
}
.dropdown-icon{
  padding: 0px 14px;
}
.dropdown-menu.show {
  min-width: 93% !important;

}
.down-white-arrow{
    background-image: url(../img/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: 96%;
    -webkit-appearance: none;
}
.dropdown{
  position: unset !important;
  margin-bottom: 23px !important;
}
.dropdown-menu{
  margin: 0;
  padding:0;
}
.search-btn{
  background:#0D0E13;
  padding:10px 20px;
  color: #fff;
  border:none;
  width:100%;
  margin-top:23px;
  font-size:22px;
  border-radius: 5px;
}
.dropdown-item{
  list-style: none;
  padding: 0px 15px;
  font-family: Mosk;
  margin:0;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-white{
  color: #210D4A;
  height: 50px !important;
  font-family: Mosk;
  font-size: 17px;
}
.down-black-arrow{
  
  background-image: url(../img/black-arrow.png);
  background-repeat: no-repeat;
  background-size: 3%;
  background-position: 96%;
  -webkit-appearance: none;

}
.date-icon{
  position: absolute;
  top: 15%;
}
.date-div{
  position: relative;
}
.date-input{
  padding: 23px 50px;
  font-family: Mosk;
  font-size: 17px;
  border: 1px solid #e8e8e8;
  box-shadow: none;
}
.date-input ::placeholder{
  color: #B9B9B9;
}
.homepage-map{
  position: relative;
    left: 80px;
    z-index: -1;
}
.map-img{
  width: 100%;

}
.map-content{
  background-color: white;
    position: absolute;
    bottom: 78px;
    width: 518px;
    padding: 27px;
}
.map-heading{
  font-family: "Mosk Bold";
font-size: 21px;
line-height: 25px;
color: #210D4A;
}
.map-text{
  font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 24px;
color: #210D4A;

}

/* second section */


.testimonial-left-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #210D4A;
  margin-top: 22px;
}
.all-review-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #210D4A;
}
.all-review-text:hover{
  color: #210D4A !important;
  text-decoration: none !important
}
.all-review-arrow{
  margin-left: 16px;
}

.testi-icon{
  text-align: right;
  margin-right: 11px
}
.star-color{
  color: #FCDD56;
}
.star-icon-padding{
  padding-left: 9px;
}
.testimonial-right-text{
  font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 28px;
color: #210D4A;

}
.testi-img{
  float: left;
}
.testi-carousel-div{
  margin-left: 30px;
}
.testi-right-div{
  padding-left: 13px;
  float: left;
}
.testi-name{
  font-family:  Mosk;
font-size: 22px;
line-height: 26px;
color: #210D4A;
margin-bottom: 4px;
margin-top: 7px;
}
.testi-name-text{
  font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #3E82FF;
margin-top: 0px;
}

.carousel-indicators .active {
  background-color: #3E83FF;
}
.carousel-indicators li { 
    background-color: #0000008c; 
    border-radius: 10px;
    margin: 3px 4px;
    width: 6px;
    height: 6px;
}
.carousel-indicators {
  bottom: -35px;
  
}

.carousel-indicators {
  position: unset !important;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center !important;
}
/* third section */
.third-section-bg{
  background-color:  #FBFBFB;
  padding-top: 100px;
  padding-bottom: 100px;
}
.services{
  background-color: #FFFFFF;
  padding: 33px;
}
.services-section-heading{
  font-family: "Mosk Bold";
  font-size: 25px;
  color: #210D4A;
}
.services-section-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-size: 17px;
  color: #210D4A;
  margin-top: 20px;
}
.services-review-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3E83FF;
}
.services-review-text:hover{
  color: #3E83FF !important;
  text-decoration: none !important;
}
.services-section-margin{
  margin-top: 32px;
}

/* fourth section */

.signup-text{ 
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #210D4A;
}
.join-bttn{
  background-color: #0D0E13;
  padding: 12px 16px;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.join-bttn:hover{
  color: #FFFFFF !important;
  text-decoration: none !important
}
.join-arrow{
  margin-left: 36px
}

.signup-margin{
  margin-top: 53px;
}
.signup-img{
  position: relative;
  left: 80px;
}

/*logo section */

.trust_img{
  padding: 25px 0;
  /* width: 650px; */
}
.trust_img span{
  margin-right: 17px;
}
/* end homepage */

/* start clinical */
.clinical-left-search{
  margin-top: 40px;
}
.find-text{
  margin-top: 29px;
}
/* featured section */
.featured-bg{
  background-color: #FBFBFB;;
  padding-top: 100px;
  padding-bottom: 100px;

}
.featured-arrow{
  text-align: right;
  padding-top: 2px;
  text-align: center;
  width: 36px;
  height: 36px;
  background-color: #FFFFFF;
  border-radius: 50px;
  float: right;
}
.featured-heading{
  padding-left:0px !important;
}
.featured-card-heading{
  font-family: "Mosk Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #210D4A;
  margin: 0px;
}
.featured-card-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  color: #210D4A;
 
}
.navigation-icon{
  width: 15px;
  float: left;
}
.card-width{
  background-color: white;
  padding: 15px;
}
.card-margin{
  margin-top: 49px
}
.card-image{
  float: left;
}
.card-content{
  float: right;
  width: 77%;
}
.crad-icon-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #210D4A;
}
.card-icon-margin{
  margin-left: 45px;
}
.login-bttn{
  background-color: #3E83FF;
  padding: 12px 16px;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
.login-bttn:hover{
  color: #FFFFFF !important;
  text-decoration: none !important
}
.login-arrow{
  margin-left: 26px;
  
}
.login-margin{
  margin-top: 31px;
}
/* clinical services */
.clinical-services-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #210D4A;
  margin-top: 34px;
}
.search-world-img{
  text-align: right;
}
.block-pgy-img{
  text-align: left;
}
.block-pgy-margin{
  margin-top: 100px;
}
.clinical-services-heading{
  font-family: "Mosk Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  color: #210D4A;
  margin-top: 27px;
}

.learn-more{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #3E83FF;
  margin-top: 47px;
}
.learn-more:hover{
  color: #3E83FF;
  text-decoration: none;

}
.learn-more-arrow{
  margin-left: 17px;
  margin-top: 5px;
}
.reviewed-margin{
  margin-top: 100px;
}
.reviewed-img{
  text-align: right;
}

/* 800+ clinical */
.clinical-bg-color{
  background-color: #FBFBFB;
  padding-top: 100px;
  padding-bottom: 120px;
}
.clinical-across-margin{
  margin-top: 50px;
}
.clinical-across-heading{
  width: 41%;
}
.clinical-across-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #210D4A;
  padding-bottom: 26px;
  padding-top: 20px;
}
.image-heading{
  font-family: "Mosk Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
.clinical-across-image{
  width: 100%;
}

.image-heading span{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #3E83FF;
  margin-left: 10px
}
/* end clinical  */

/* start  writing editing */
.writng-heading-width{
  width: 45%;
}
.writing-editing-img{
    position: relative;
    left: 80px;
    z-index: -1;
    top: -61px;
}
.writing-editing-content{
  background-color: white;
  position: absolute;
  bottom: 107px;
  width: 518px;
  padding: 27px;
}
/* end writing editing */

/*  start on-demand */
.writing-top-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  color: #210D4A;

}
.on-demand-heading{
  padding-bottom: 49px;
}
.on-demand-img {
  position: relative;
  left: 80px;
  z-index: -1;
  top: 20px;
}
.on-demand-content {
  background-color: white;
  position: absolute;
  bottom: 37px;
  width: 518px;
  padding: 27px;
}
.drafting-bg{
  background-color: #F8FBFF;
  padding: 66px 26px 66px 29px;
}
.drafting-heading{
  font-family: "Mosk Bold";
  font-size: 25px;
  line-height: 35px;
  color: #210D4A;
}
.drafting-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #210D4A;
 
}
.drafting-top-padding{
  padding-top: 22px;
}
.drafting-step-heading{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;
  color: #210D4A;
  margin-bottom: 0px;

}
.drafting-step-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #210D4A;
  margin: 0px ;
}
.add-cart-bttn{
    background-color: #0D0E13;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    width: 204px;
    height: 52px;
    border: none;
}
.add-cart-arrow {
  margin-left: 36px;
}
.add-cart-margin {
  margin-top: 52px;
}
.drafting-padding-left{    
  padding-left: 31px;
}
.drafting-480{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: #3E83FF;
}
.drafting-480-text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  color: #210D4A;
}
.drafting-480-margin{
  margin-top: 61px;
}
.drafting-span{
  margin-top: 9px;
}
.order-overview-heading{
  font-family: "Mosk Bold";
  font-size: 26px;
  line-height: 31px;
  color: #210D4A;
  margin-top: 0px;
}
.order-overview-left-padding{
  padding: 0px 0px 0px 34px;
}
.order-overview-left-text{
  font-family: Mosk;
  font-size: 15px;
  line-height: 18px;
  color: #210D4A;
}
.order-overview-right-text{
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 19px;
text-align: right;
color: #210D4A;
}

.total-left-text{
  font-family: "Mosk Bold";
  font-size: 22px;
  line-height: 26px;
  color: #210D4A;

}
.total-right-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;
  text-align: right;  
  color: #210D4A;
}
.view-cart-bttn{
    background-color: #3E83FF;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
    height: 48px;
    border: none;
}
.view-cart-margin {
  margin-top: 42px;
}
.view-cart-arrow{
  margin-left: 88px;

}
.drafting-second-section{
  margin-top: 100px;

}
/* end on-demand */
/*start  interview prep */
.interview-prep-width {
  width: 39%;
}
.interview-service-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #210D4A;
  margin-top: 34px;
}
.service-width{
  width: 57%;
}
.service-margin-top-100{
  margin-top: 100px;
}

/* end interview prep */

/* Reviews Starts here */
.review-heading-width {
  width: 65%;
}
.review-left-search {
}
.review-content{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #210D4A;
  margin-bottom: 30px;
}
.review-trust_img{
  padding: 6px 0;
}
.reviews-images{margin-left: 70px;}
.review-trust_img span {
  margin-right: 17px;
}
.margin_top-100{
  margin-top: 100px;
}
.reviews-heading{
  font-family: "Mosk Bold";
    font-size: 30px;
    line-height: 45px;
    color: #210D4A;
    width: 80%;
}
.reviews-left-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  color: #210D4A;
  margin-top: 22px;
  width: 90%;
}
.reviews-right{margin-left: 40px;
margin-top: 30px;}
.reviews-right-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  color: #210D4A;
  margin-top: 30px;
}
.review-img-section{
  margin-top: 30px;
}
.review-img{float:left;}
.reviews-right-div{float: right; margin-left: 20px;}
.review-left-sec{
  float: left;
}
.reviews-right-sec{
  float: right;
  width: 20%;
}
.reviews-read-margin{margin-top: 15px;}
.reviews-name {
  font-family: Mosk;
  font-size: 22px;
  line-height: 26px;
  color: #210D4A;
  margin-bottom: 4px;
  margin-top: 5px;
}
.reviews-name-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3E82FF;
  margin-top: 0px;
}
/* end reviews */

/* start about */

.about-heading-width {
  width: 65%;
}
.about-content {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  color: #210D4A;
  margin-bottom: 30px;
}
.about-image{
  width: 100%;
}
.about-history-heading{
  font-family: Mosk;
  font-size: 38px;
  line-height: 35px;
  color: #210D4A;
  margin-top: 70px
}
.about-history-content{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  color: #210D4A;
  margin-top: 35px;
}
.about-history-right{
  padding-left: 55px;
}
.about-sec-icon {width: 14%; float: left;}
.about-sec-text {float: left;}
.meet-team-arrow{  
    margin-left: 70px;
}
.meet-team-bttn{
    background-color: #3E83FF;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
    height: 48px;
    border: none;
}
.meet-team-margin {
  margin-top: 42px;
}
.achievement-bg{
  background-color: #F8FBFF;
  padding-bottom: 100px;
}
.achievement-icon{
  margin-top: 100px;
}
.achievement-heading{
  font-family: Mosk;
  font-size: 38px;
  line-height: 35px;
  color: #210D4A;
  margin-top: 30px
}
.achievement-content{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  color: #210D4A;
  margin-top: 25px;
  width: 40%;
}
.achievement-card-bg{
  background-color: #FFFFFF;
  padding: 4px 1px 16px 33px;
  min-height: 170px;
}
.achievement-card-boldtext{
  font-family: "Mosk Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  color: #210D4A;

}
.achievement-card-text{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #210D4A;
 
}
.what-we-margin{
  margin-top: 100px;
}
.what-we-do-heading{
  font-family: "Mosk Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  color: #210D4A;
  margin-top: 0px;
}
.what-we-do-text{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #210D4A;
  width: 90%;

}
/* .what-we-do-margin {
  margin-top: 26px;
} */
.what-learn-more-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3E83FF;
}
.all-what-we-arrow {
  margin-left: 16px;
}
.we-pride-width{
  width: 62%;
  
}
.we-pride-heading{
  font-family: "Mosk Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 47px;
  color: #210D4A;
}
.we-pride-text{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #210D4A;
  margin-top: 30px;
}
.we-are-creative-bg{
  background-color: #FBFBFB;
  padding: 40px;
}
.we-are-creative-heading {
  font-family: "Mosk Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  color: #210D4A;
  margin-top: 0px;
}
.we-are-creative-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  color: #210D4A;
  margin-top: 24px;
  width: 76%;
}
.we-are-learn-more {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #3E83FF;
  margin-top: 36px;
}

.we-are-creative-downarrow{
  float: right;
}
.we-are-learn-more-arrow {
  margin-left: 17px;
}
.we-are-top-margin{
  margin-top: 100px;
}
.we-are-padding{
  padding: 40px;
}
.we-are-resource-margin{
  margin-top: 14px;
}

/* start our-team */
.our-team-heading-width {
  width: 38%;
}
.our-team-content{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #210D4A;
    margin-bottom: 30px;
    margin-top: 24px
}
.our-team-img-heading{
    font-family: "Mosk Bold";
    font-size: 23px;
    line-height: 35px;
    color: #210D4A;
    margin-bottom: 0px;
}
.our-team-img-width{
  width: 100%;
}
.our-team-gray-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 31px;
  color: #B9B9B9;
  margin: 0px !important;
}
.our-team-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  color: #210D4A;
}
.our-team-fullprofile{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3E83FF;

}
.fullprofile-arrow {
  margin-left: 16px;
}
.our-team-img-margin{
  margin-top: 50px;
}
.our-team-second-img{
  margin-top: 70px;
}
.our-team-text-div{
  min-height: 100px;
}
.our-team-fullprofile:hover{
  text-decoration: none !important;
  color: #3E83FF !important;
}
.ourteam-what-we-bg{
  background-color:  #FBFBFB;
  padding-top: 150px;
  padding-bottom: 150px;
}
.our-team-job-heading{
  font-family: "Mosk Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 35px;
  color: #210D4A;
  padding-bottom: 32px;
}
.our-team-job-left-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #210D4A;
  margin-top: 28px;
  width: 90%;

}
.our-team-job-right-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #210D4A;
  margin-top: 115px;

}
.to-vacancies-margin {
  margin-top: 42px;
}
.to-vacancies-bttn {
  background-color: #3E83FF;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding-left: 20px;
  height: 48px;
  border: none;
}
.to-vacancies-arrow {
  margin-left: 70px;
}
/* end our-team */
/* start guarantee */
.guarantee-heading-width {
  width: 61%;
}
.guarantee-content {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #210D4A;
  margin-bottom: 30px;
  margin-top: 24px;
}
.our-guarantee-card-bg{
  background-color: #FFFFFF;
}
.our-guarantee-heading{
  font-family: Mosk;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 35px;
  color: #210D4A;
}
.guarantee-bg{
  background-color: #FBFBFB;
}



/* Register page starts */
.right-banner {
  background-image: url('../img/banner-image.png');
  height: 343px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 5px;
}
.right-banner-second {
  position: relative;
  height: 400px;
}
.circle-wd-69 {
  background-color: #fff;
  height: 69px;
  width: 69px;
  border-radius: 35px;
  display: inline-block;
  position: absolute;
}
.circle-wd-69.color-1 {
  background-color: #FAF6E6;
}
.right-banner .circle-wd-69.color-1 {
  top: -37px;
  left: 55px;
}
.circle-wd-69.color-2 {
  background-color: #3E83FF;
}
.right-banner .circle-wd-69.color-2 {
  bottom: 17px;
  right: 120px;
}
#main-container {
  margin-top: 65px;
  min-height: 300px;
}
.circle-wd-27 {
  background-color: #fff;
  height: 27px;
  width: 27px;
  border-radius: 35px;
  display: inline-block;
  position: absolute;
}
.circle-wd-27.color-1 {
  background-color: #28DC8E;
  bottom: -13px;
  right: 40px;
}
.benner-heading {
  font-family: Mosk;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  color: #FFFFFF;
  width: 270px;
  display: inline;
  position: absolute;
  bottom: 50px;
  left: 120px;
}
#register-form-container {
  background-color: #fff;
}
#register-form-container .register-form {
  padding: 42px 105px;
  border-radius: 5px;
}
#register-form-container .register-form h2 {
  font-family: Mosk;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: #210D4A;
}
#register-form-container .register-form h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #210D4A;
}
#register-form-container .form-group {
  margin-top: 61px;
  margin-bottom: 50px;
}
#register-form-container .form-group h3 {
  font-family: Mosk;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #210D4A;
  margin-bottom: 20px;
}
#register-form-container .form-group label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #210D4A;
}
#register-form-container .form-group .form-control {
  background: #FFFFFF;
  border: 1.5px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color:#BEBEBE;
  height: 48px;
  margin-bottom: 15px;
}
.register-date-icon{
  position: absolute;
    top: 48px;
    left: 27px;
}
.register-placeholder{
  padding: 1px 38px;
}
.register-placeholder::placeholder{
  color: #3E83FF;
}
#register-form-container .form-group .nice-select {
  height: 47px;
  line-height: 46px;
  width: 100%;
  margin-bottom: 15px;
}
#register-form-container hr {
  border-top: 1px dashed #28DC8E;
}
.input-radio span::before {
  content: '';
  position: absolute;
  background-image: url('../img/empty-circle.svg');
  height: 24px;
  width: 24px;
  left: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.input-radio span::after {
  content: '';  
}
input[type="radio"] {
  opacity: 0;
  margin-bottom: 30px;
}
input[type="radio"]:checked ~ span::before {
  background-image: url('../img/filled-circle.svg');
}
.input-radio span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #818596;
  padding: 0 30px;
}
.password-eye {
  position: absolute;
  text-align: center;
  bottom: 30px;
  right: 30px;
}
#register-form-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: rgba(13, 14, 19, 0.5);
}
#register-form-container .btn.btn-primary.btn-lg.btn-block {
  background: #3E83FF;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: inline;
  align-items: center;
  text-align: center;
  color:#FFFFFF;
  text-transform: capitalize;
  border-color:#3E83FF;
  letter-spacing: normal;
}
#register-form-container .btn.btn-primary.btn-lg.btn-block:hover,
#register-form-container .btn.btn-primary.btn-lg.btn-block:active,
#register-form-container .btn.btn-primary.btn-lg.btn-block:focus {
  background-color: #3E83FF !important;
}
.circle-wd-117 {
  background-color: #fff;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.circle-wd-120 {
  background-color: #000;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.circle-wd-117.color-1 {
  background-color: #FCDD56;
  opacity: 0.12;
}
.right-banner-second .circle-wd-117.color-1 {
  top: 58px;
  right: -30px;
}
.circle-wd-120.chat { 
  background-color: #3E83FF;
  border: 16px solid rgba(255, 255, 255, 0.75);
}
.circle-wd-120.chat {
  right: 40px;
  text-align: center;
  padding: 30px 30px;
  bottom: 10px;
  position: fixed;
}
/* Footer starts here */
footer{margin-bottom: 20px;}
footer .container {
  padding-left: 120px;
  /* padding-right: 135px; */
}
.footer-logo{
  padding: 15px 0px !important;
}
.footer-logo-text-margin{
  margin-top: 16px;
}
footer .container p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #210D4A;
  padding-right: 100px;
  margin-top: 17px;
  padding-bottom:20px;
}
footer .container h2 {
  font-family: "Mosk bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #210D4A;
  margin-bottom: 30px;
  margin-top: 10px;
}
footer .container .social li a{ color: #EDF5FF !important;}
footer .container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}
footer .container ul li{
  padding:5px 0;
}
.social { margin-top:20px !important;}
footer .container .social li{
 margin-right:0;
}
footer .container ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #210D4A !important;
  opacity: 0.6;
}
footer label {
  width: 100%;
}
footer .phone .fas.fa-phone-alt {
  color: #3E83FF;
  font-size: 10px;
}
footer .mail .far.fa-envelope {
  color: #3E83FF;
  font-size: 10px;
}
footer .clock .far.fa-clock {
  color: #3E83FF;
  font-size: 10px;
}
footer .phone span,
footer .mail span,
footer .clock span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 33px;
  color: #210D4A;
  opacity: 0.6;
}
footer .list-inline.text-center .list-inline-item a {
  color: #EDF5FF;
  opacity: 1;
}
footer .list-inline.text-center .list-inline-item  .fa-inverse {
  color: #3E83FF;
}
.fas.fa-bars {
  margin-left: 5px;
}
.dropdown {
  height: 47px;
  line-height: 46px;
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px#e8e8e8;
}
.dp-active{border:none;}
.dropdown-menu a,
.dropdown #imageDropdown {
  padding: 10px 16px;
  width: 100%;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgba(129, 133, 150, 0.5);
  text-decoration: none;
}
.dropdown-menu a img,
.dropdown #imageDropdown img {
  margin-right: 9px;
}
.dropdown.show #imageDropdown::after {
  transform: rotate(180deg);
}
.dropdown-menu.show {
  min-width: 100%;
  box-sizing: border-box;
}
.dropdown #imageDropdown::after {
  content: '';
  background-image: url('../img/drop-icon.svg');
  height: 20px;
  width: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 12px;
  right: 24px;
  transform: rotate(0deg);
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
  #register-form-container .register-form {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-right {
    margin: 20px 0;
  }
   footer .container {
    padding-left: 15px;
    padding-right: 15px;
}
  .benner-heading {
      left: 30px;
  }
  .right-banner-second {
    position: relative;
    height: 0px
  }
  .right-banner-second .circle-wd-117.color-1 {
    right: 0;
  }
  footer .container .col-lg-3.col-md-3.mx-auto.px-0 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  footer .container h2 {
    margin-bottom: 10px;
    margin-top: 30px;
  }
  footer .container p {
    padding-right: 0px;
  }
}
  
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  #register-form-container .register-form {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-right {
    margin: 20px 0;
  }
   footer .container {
    padding-left: 15px;
    padding-right: 15px;
}
  .benner-heading {
      left: 30px;
  }
  .right-banner-second {
    position: relative;
    height: 0px
  }
    .right-banner-second .circle-wd-117.color-1 {
    right: 0;
  }
  footer .container .col-lg-3.col-md-3.mx-auto.px-0 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
   footer .container h2 {
    margin-bottom: 10px;
    margin-top: 30px;
  }
  footer .container p {
    padding-right: 0px;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  /* Styles */
  #register-form-container .register-form {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-right {
    margin: 20px 0;
  }
   footer .container {
      padding-left: 15px;
      padding-right: 15px;
  }
  .benner-heading {
      left: 30px;
  }
  .right-banner-second {
    position: relative;
    height: 0px
  }
  .right-banner-second .circle-wd-117.color-1 {
    right: 0;
  }
  footer .container .col-lg-3.col-md-3.mx-auto.px-0 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
   footer .container h2 {
    margin-bottom: 10px;
    margin-top: 30px;
  }
  footer .container p {
    padding-right: 0px;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
  #register-form-container .register-form {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-right {
    margin: 20px 0;
  }
   footer .container {
      padding-left: 15px;
      padding-right: 15px;
  }
  .benner-heading {
      left: 30px;
  }
  .right-banner-second {
    position: relative;
    height: 0px
  }
  .right-banner-second .circle-wd-117.color-1 {
    right: 0;
  }
  footer .container .col-lg-3.col-md-3.mx-auto.px-0 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
   footer .container h2 {
    margin-bottom: 10px;
    margin-top: 30px;
  }
  footer .container p {
    padding-right: 0px;
  }
}
@media (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background-color: #fff;
  }
  #mainNav .navbar-brand {
    padding: 10px 0px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #210D4A;
    text-transform: capitalize;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, 
  #mainNav .navbar-nav > li.nav-item > a:hover {
    color: #210D4A;
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    transform: translate3d(0, 0%, 0);
  }
}
.thank-you .right-banner-second {
  position: relative;
  height: 0px;
}

